/* App.css */
body {
  font-family: 'Montserrat' !important;
}

.modal-animate {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.animated.fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}
